
.forumNameAndTag {
    flex: 8 8 auto;
}

.forumAnd {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    font-weight: 600;
}

.forumTag {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #6a3f38b7;
}

.articleName {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ee837b;
    margin-left: 0.5rem;
}

.tagsAndCommentCount {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

.fa-hashtag,
.fa-comments {
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
}

#tag {
    flex: 6 6 auto;
}

.tagsAndCommentCount .commentCount {
    flex: 4 4 auto;
}

.nameAndTime {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#name {
    flex: 6 6 auto;
    color: #ee837b;
}

#time {
    flex: 4 4 auto;
    color:grey;
}

#content {
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 10%, 30%);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.commentsMetadata {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: grey;
}

.comment {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:hsl(0, 10%, 30%);
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
}

@media screen and (min-width: 1024px) {

    .forumNameAndTag {
        margin-bottom: 3rem;
    }

    .forumAnd {
        margin: 0 0.8rem;
        font-size: 2vmin;
    }

    .forumTag {
        font-size: 2.3vmin;
    }

    .articleName {
        font-size: 2.5vmin;
        margin-bottom: 2rem;
    }

    .tagsAndCommentCount {
        width: 35vw;
    }

    .nameAndTime {
        width: 20vw;
    }

}

@media screen and (max-width: 1024px) {
 
    .forumNameAndTag {
        margin-bottom: 2rem;
    }

    .forumAnd {
        margin: 0 0.4rem;
        font-size: 2.5vmax;
    }

    .forumTag {
        font-size: 2.3vmax;
    }

    .articleName {
        font-size: 2.5vmax;
        margin-bottom: 1.5rem;
    }

    .tagsAndCommentCount {
        width: 50vmax;
    }

    .nameAndTime {
        width: 40vmax;
    }
}





