.forumNameAndTag {
    margin-bottom: 3rem;
}

.forumAnd {
    margin: 0 0.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    font-size: 2vmin;
    font-weight: 600;
}

.forumTag {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.3vmin;
    font-weight: bold;
    color: #6a3f38b7;
}

.articleName {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vmin;
    font-weight: bold;
    color: #ee837b;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}

.tagsAndCommentCount {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    width: 25vw;
}

.fa-hashtag,
.fa-comments {
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
}

#tag {
    flex: 6 6 auto;
}

.tagsAndCommentCount .commentCount {
    flex: 4 4 auto;
}

.nameAndTime {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 20vw;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#name {
    flex: 6 6 auto;
    color: #ee837b;
}

#time {
    flex: 4 4 auto;
    color:grey;
}

#content {
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 10%, 30%);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.commentsMetadata {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: grey;
}

.comment {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:hsl(0, 10%, 30%);
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
}