
.forumName {
    flex: 8 8 auto;
}

.threads {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.metadata {
    color: #6a3f38b7;
}

.thread {
    margin: 1rem 0.5rem;
    display: grid;
}

.thread a {
    color: inherit;
    text-decoration: none;
}


.threads .nameTag {
    margin-bottom: 0.2rem;
}

.threads .author,
.threads .name,
.threads .comments {
    color: hsl(4, 90%, 60%);
}

.threads .tag {
    padding-left: 0.5rem;
}


.threads .tag,
.threads .time {
    margin-top: 0.5rem;
    color: darkgrey;
}

.threads .time,
.threads .author,
.threads .authorAndTime {
    text-align: right;
}

.threads .comments,
.threads .commentsCount {
    text-align: center;
}


@media screen and (min-width: 1024px) {

    .threads {
        font-size: 2vmin;
    }

    .thread {
        grid-template-columns: 4fr 1fr 1fr;
    }

    .metadata {
        font-size: 1.9vmin;
    }

    .threads .tag,
    .threads .time {
        font-size: 1.6vmin;
    }

}

@media screen and (max-width: 1024px) {

    .threads {
        font-size: 2vmax;
    }

    .thread {
        grid-template-columns: 5fr 3fr 2fr;
    }

    .metadata {
        font-size: 1.7vmax;
    }

    .threads .tag,
    .threads .time {
        font-size: 1.6vmax;
    }

}










